<form class="user-form" [formGroup]="userForm" (ngSubmit)="submit(userForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Company" formControlName="company" size="4"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="First name" formControlName="firstName" size="4">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Long Last Name That Will Be Truncated" formControlName="lastName" size="4">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Address" formControlName="address">1600 Amphitheatre Pkwy</textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="City" formControlName="city">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" formControlName="state">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput #postalCode maxlength="5" placeholder="Postal Code" formControlName="postCode">
    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="userForm.invalid">Submit</button>
</form>