<form class="user-form" [formGroup]="dynamicFormGroup" (ngSubmit)="submit(dynamicFormGroup.value)">
  <ng-container *ngFor="let field of dynamicInputs">
    <ng-container *ngIf="field.fieldType === 'input'">
      <mat-form-field class="example-full-width">
        <input matInput [placeholder]="field.placeholder" [formControlName]="field.fieldName"/>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="field.fieldType === 'textarea'"> 
     <mat-form-field class="example-full-width">
        <textarea matInput [placeholder]="field.placeholder" [formControlName]="field.fieldName"></textarea>
      </mat-form-field>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="primary" [disabled]="dynamicFormGroup.invalid">Submit</button>
</form>